.welcome-msg {
  color: black;
  font-family: monospace;
  margin: 0%;
  width: 80%;
  margin-top: calc(7vh + 2vmin);
  font-size: calc(10px + 2.25vmin);
}

.moon {
  margin-top: 4vh;
  width: calc(10vh + 2vmax);
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: center;
  justify-content: center;

}

.App {
  text-align: center;
  /* justify-content: center;   */
}

.App-header {
  background-color: #FFA07A;
  /* min-height: 100%; */
  width: 100%;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

