.entryLogBody {
    width: 100vw;
    height: 20vh;
    margin: 0%;
    padding: 0%;
    /* display: flex; */
    font-family: monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(34 12 64 / 60%);
    /* opacity: 50%; */

    /* border: 0.1vw black solid; */
}