.projectBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2vh;

    /* max-height: 50vh; */
    /* width: 75vw; */
    height: calc(120px + 40vmin);
    /* height: calc(30px + 40vh); */
}

.projectImage {
    max-height: calc(30px + 15vmin);
    /* justify-items: center; */
    align-self: center;    
}

